.myimg img{
  width: 200px;
  border-radius: 20px;
}

.myimage{
 margin-top: 20px;
 width: 300px;
 height: 300px;
 border-width: 2px;
opacity: 0.2;

}

.text{
padding: 5px;
}
input{
  padding: 5px;
  margin-top: 10px;
}
