*{      /*universal selector */
    margin: 0;
    padding: 0;
}

.nav-bar{
    background-color: rgb(28, 75, 75) ; 
    color: #fff;
   
   
}

.mylist{
    display: flex ; 
    list-style: none;
    justify-content: center;
}
li{
    margin-right: 20px;
   
}