* {
  /*universal selector */
  margin: 0;

  padding: 0;
}

.nav-bar {
  background-color: rgb(77, 63, 143);
  display: flex;
  justify-content: space-between;
}

.mylist {
  list-style: none;
  display: flex;
}
li, .blog-image :hover {
  cursor: pointer;
}

li {
  margin-right: 40px;
  font-size: 17px;
  font-family: Arial;
}
.myimg {
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

.topnav {
  background-color: rgb(98, 80, 180);
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.social-media-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: 500px;
  padding-bottom: 10px;
}

.mylist2 {
  display: flex;
  list-style: none;
  padding-top: 10px;
}

/* .mybox{
  background-color: rgb(244, 224, 4) ; 
  height: 500px; 
  width: 800px;
  margin-top: 10px ;
position: relative;
}

.box1{
background-color: rebeccapurple;
position: absolute;
  width: 300px; 
  right:  30px;
/* top: 0 ; */
/* bottom: 0; */
/* left: 0 ; */

.hero-section h1 {
  font-size: 40px;
  font-variant: small-caps;
}

.hero-section h1 span {
  color: aqua;
}

.buttons button {
  padding: 15px;
  border: none;
  background-color: #ae1212;
  margin-top: 10px;
  margin: 10px;
  border-radius: 10px;
}

.buttons button:hover {
  cursor: pointer;
}
.hero-section {
  color: black;
  position: relative;
}

.hero-section p {
  font-size: 18px;
  padding: 10px;
}

.overlay {
  background: url(/images/astro1.jpg) no-repeat;
  background-size: cover;
  height: 85vh;
  opacity: 0.1;
}

.container {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 20%;
}

/*about section styling*/
/* .about_section{
  padding: 50px;

}
.about_section .container{
  width: 85%;
display: flex;
  margin: auto;
  align-items: center;
bottom: 0;
}
.about_section .image img{
  max-width: 450px;

}
.about_content{
  padding: 10px 30px;
}
.about_content .head h2{
  font-size: 45px;
  color: cadetblue;
}
.about_content .head{
  display: flex;
  align-items: center;
}
.about_content .head .line{
  height: 2px;
  width: 80px;
  background-color: black;
}
.about_content .content p{
  font-size: 17px;
  color: rgb(142, 101, 181);
  line-height: 30px;
  padding: 20px 0px;
}
.about_content button{
  border: none;
  padding: 10px 25px;
  background-color: steelblue;
  font-size: 17px;
  margin-right: 15px;
} */
/*about section styling end*/

.container1 {
  display: flex;
  margin-top: 20px;
  bottom: 0;
}
img {
  width: 80px;
  margin-right: 20px;
}

.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  color: rgb(98, 80, 180);
}

.readmore {
  color: rgb(12, 57, 96);
}
.readmore:hover {
  cursor: pointer;
}


.resumehead {
  margin-top: 100px;
  margin-bottom: 10px;
}

.mypic{
  display: block;
  width: 362px;
  height: 44vh;
}
.content{
  display: flex;
}
.underline {
  height: 2px;
  width: 80px;
  background-color: rgb(172, 5, 5);
  margin: auto;
  margin-bottom: 10px;
}

.card-head {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(98, 80, 180);
}
.card-head2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(98, 80, 180);
}
.date {
  font-size: 16px;
}

.resume-section {
  width: 95%;
  margin: auto;
  justify-content: center;
}

.resume-card {
  width: 26%;
  border: 1px solid rgb(0, 251, 255);
  padding: 0px 20px;
  margin: 10px;
}

.card-head h3::after {
  content: "";
  width: 50px;
  border-bottom: 2px solid rgb(222, 9, 9);
  display: block;
  margin: 2px;
}

.card-head2 h3::after {
  content: "";
  width: 110px;
  border-bottom: 2px solid rgb(222, 9, 9);
  display: block;
  margin: 2px;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.resume-card {
  justify-content: center;
}

.skill-label {
  padding: 3px 0px;
}
.skill-label label {
  font-weight: 550;
  font-size: 13px;
}
.label {
  margin: 3px;
  width: 100%;
  height: 7px;
  background-color: rgb(184, 176, 176);
  border-radius: 7px;
}

.html {
  width: 90%;
  height: 7px;
  background-color: rgb(33, 192, 231);
}

.css {
  width: 70%;
  height: 7px;
  background-color: rgb(33, 192, 231);
}

.js {
  width: 2%;
  height: 7px;
  background-color: rgb(33, 192, 231);
}
.c {
  width: 90%;
  height: 7px;
  background-color: rgb(33, 192, 231);
}
.cpp {
  width: 90%;
  height: 7px;
  background-color: rgb(33, 192, 231);
}

.python {
  width: 20%;
  height: 7px;
  background-color: rgb(33, 192, 231);
}

.flutter {
  width: 15%;
  height: 7px;
  background-color: rgb(33, 192, 231);
}

.mypic {
  display: block;
  width: 50%;
  height: 55vh;
}

.mid-section {
  background-color: rgb(113, 97, 121);
  margin-top: 40px;
}

.mid-card {
  display: flex;
  margin: 20px 20px;
}
.mid-icon {
  font-size: 25px;
}
.mid-content {
  font-size: 17px;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.head {
  margin-top: 40px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
}

.service-section .service-card {
  margin-left: 20px;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  width: 350px;
  height: 200px;
 margin: auto;
 margin-bottom: 40px;
  left: 0px;
}

.service-icon {
  border-radius: 50%;
  border: 2px solid rgb(2, 170, 162);
  width: 60px;
  height: 60px;
  margin-left: 150px;
  justify-content: center;
}

.service-section .service-icon i {
  font-size: 19px;
  color: rgb(0, 251, 255);
  margin-top: 17px;
  margin-left: 20px;
}

.service-content {
  padding: 15px;
}

.service-section {
  margin-bottom: 40px;
}

.service-section .service-head {
  margin-top: 30px;
  margin-bottom: 70px;
}

.service-content,
p {
  font-style: italic;
}

.title {
  text-align: center;
}



/* blogs-section start  */
.blogs-section{
color: rgb(25, 67, 63);
}
.blog-head{
  margin-top: 60px;
  text-align: center;
  margin-bottom: 50px;
}
.blog-image img{
height: 230px;
width: 265px;
border-radius: 15px;
opacity: 0.7;
}
.blog-card{
  margin-left: 20px;
  

.ai{
    background-color: rgb(98, 80, 180);
    border-radius: 15px;
    width: 40px;
    padding: 4px;
    text-align: center;
  }

}
.blog-midsection{
  display: flex;

  .blog-date{
  color: rgb(98, 80, 180);

  }
}
.blog-date i{
  margin-left: 130px;
}

.blog-container{
 justify-content: space-around;
  display: flex;
}
.blog-content{
  margin: 20px;
  width: 265px;
}
.blog-paragraph{
margin-top: 10px;
}

/* blogs-section end  */



/* testimonial section start  */

.testimonial-section{
  background-image: url("/images/testimonialimg.jpg");
  background-position: center;
  min-height: 300px;
  background-size: cover;
  background-repeat:no-repeat ;
  opacity: 1;
  background-attachment: fixed;

}

.testimonial-head h2{
font-weight: bold;
}

.testimonial-img img{
border-radius: 40px;
margin-top: 10px;
margin-left: 47%;}

.testimonial-para p{
margin-top: 10px;
  text-align: center;
}
.testimonial-para i {
  color: yellow;
}
.testimonial-author{
  font-style: normal;
  font-weight: bold;
  margin-bottom: 20px;
}
/* testimonial section end  */